/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
}

canvas {
    background: #000;
    display: block;
}
/* styles.css */
